.canvas_container {
    position: relative;
    width: 60vw;
    height: auto;
}

.premiere-section {
    margin-top: 2rem;
    display: flex;
    pie-chart {
        flex-grow: 2;
    }
    p {
        flex-shrink: 2;
    }
}