.section {
    margin-top: 2rem;
    display: flex;

    .canvas_container {
        position: relative;
        width: 50%;
        height: auto;
    }

    .chart_side {
        position: relative;
        width: 50%;
        height: auto;
    }
}