.jumbo_header {
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: right bottom;
    padding-bottom: 50px;
    padding-top: 50px;
    overflow-x: hidden;
    &_content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 500px;
        p {
            font-size: 1.3rem;
            line-height: 1.8rem;
            padding: 30px 0 30px;
        }
        &--medium {
            height: 200px;
            display: block;
        }
    }
    &--medium {
        justify-content: flex-start;
        padding-bottom: 20px;
        padding-top: 20px;
        background-size: auto 100%;
    }
}

.article_header {
    margin: auto;
    padding: 50px 0;
    color: $color-white;
    background-color: $color-primary;
    > .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &_content {
        color: $color-white;
        padding-left: 30px;
        p {
            font-size: 1.3rem;
            line-height: 1.8rem;
            padding: 30px 0 0 30px;
        }
    }
    &_img {
        height: 200px;
    }
}